page-parent-enfant {
  ion-toolbar
  {
    ion-title
    {
      text-align: center;
    }
    
  }

}

.toastsucesscss
{
    > div{
        background-color:#69b37f!important;
    }
    color: #eee;
}

