page-parent-sign-in {
	.slide-image {
		max-height: 50%;
		max-width: 50%;
		margin: 0 0 0 30%;
	 }


	 a
	 {
	 	text-decoration: lowercase;
	 }

	 .footer
	 {
	 	text-align: center;
	 }

	 ion-toolbar
	  {
	    ion-title
	    {
	      text-align: center;
	    }
	    
	  }

}
