page-parent-login {
	
	.slide-image {
	    max-height: 50%;
	    max-width: 50%;
	    margin: 0 0 0 30%;
	 }

	 .list
	 {
	 	ion-input
	 	{
	 		border-bottom: 1px solid gray;
	 		text-align: center;
	 	}
	 }


	 a
	 {
	 	text-decoration: lowercase;
	 }

	 .footer
	 {
	 	text-align: center;
	 }
}
