page-professeur-login {

	.slide-image {
	    max-height: 100%;
	    max-width: 70%;
	    margin: 0 0 0 15%;
	 }

	 .list
	 {
	 	ion-input
	 	{
	 		border-bottom: 1px solid gray;
	 		text-align: center;
	 	}
	 }


	 a
	 {
	 	text-decoration: lowercase;
	 }

	 .footer
	 {
	 	text-align: center;
	 }
}
