<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list  *ngIf="classes;else noClasses">
			<ion-item *ngFor="let class of classes, let i= index" (click)="accederClasse(class.TYPE_PERIODE, i)">
				<h2><b>{{ class.NOM_ECOLE }}</b></h2>
				<h4><b>Classe : </b>{{ class.CLASSE + " " + class.TYPE_CLASSE}}</h4>
				<h4><b>Matière : </b>{{ class.MATIERE }}</h4>
				<h4><b>Coéfficient : </b>{{ class.COEFFICIENT }}</h4>
				<button ion-button clear item-end>
					<ion-icon name="arrow-dropright"></ion-icon>
				</button>
			</ion-item>
	</ion-list>


	<ng-template #noClasses>
			<div>
				<p text-center>Pas de classe</p>
			</div>
		</ng-template>
</ion-content>
