<!--
  Generated template for the ProfesseurInsertNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Insertion de Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
	  <ion-item-group>
	    <ion-item-divider color="light">4eme M8 (Note {{typeNote}}) </ion-item-divider>
	    <ion-item *ngFor="let nom of Nom, let i= index">
	    	<ion-label fixed>{{nom}}</ion-label>
	    	<ion-input type="number" (input)="ajoutNote($event.target.value, i)" name="note"></ion-input>
	    </ion-item>
	  </ion-item-group>

	  <button ion-button color="primary" block (click)="validerNote()">Valider</button>
	</ion-list>

	
	<ion-grid>
	    	<ion-row *ngFor="let nom of Nom, let i= index">
						<ion-col col-8>
							<ion-label fixed>{{nom}}</ion-label>
						</ion-col>

						<ion-col col-4>
							<ion-input type="number" (input)="ajoutNote($event.target.value, i)" name="note"></ion-input>
						</ion-col>
			</ion-row>
		</ion-grid>
</ion-content>
