
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Insertion de Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <ion-list>
	  <ion-item-group>
	    <ion-item *ngFor="let eleve of eleves, let i= index">
	    	<ion-label fixed>{{eleve.nom +" "+ eleve.prenom}}</ion-label>
	    	<ion-input type="number" (input)="ajoutNote($event.target.value, i)" name="note"></ion-input>
	    </ion-item>
	  </ion-item-group>

	  
	</ion-list> -->

	
	<ion-grid>
				<ion-list>
						<ion-item-divider color="light" text-center text-uppercase>
							{{infoclasse.NOM_ECOLE}} <br>
							{{infoclasse.CLASSE}} {{infoclasse.TYPE_CLASSE}} <br>
							{{infoclasse.MATIERE}} <br>
							{{typeNote}}
						</ion-item-divider>
				</ion-list>
	    	<ion-row *ngFor="let eleve of eleves, let i= index">
						<ion-col col-8>
							<ion-label fixed>{{eleve.nom +" "+ eleve.prenom}}</ion-label>
						</ion-col>

						<ion-col col-4>
							<ion-input type="number" (input)="ajoutNote($event.target.value, i)" name="note" min=0 max=20 placeholder="note"></ion-input>
						</ion-col>
			</ion-row>
		</ion-grid>

		<button ion-button color="primary" block (click)="validerNote()">Enregistrer</button>
</ion-content>
