
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Liste des élèves</ion-title>

    <ion-buttons end>
	    <button ion-button icon-only (click)="newNote()">
	        <ion-icon name="add"></ion-icon>
	    </button>
		</ion-buttons>
  </ion-navbar >

</ion-header>


<ion-content padding>

	<ion-searchbar [(ngModel)]="terms" placeholder="Recherche"></ion-searchbar>
	<ion-list *ngIf ="eleves; else noeleve">
	  <ion-item-group>
	    <ion-item-divider color="light" text-center text-uppercase>{{classe}}</ion-item-divider>
	    <ion-item *ngFor="let eleve of eleves | search : terms" (click)="afficherNoteEleve(eleve.nom+' '+eleve.prenom, eleve.id)">
    		{{eleve.nom + " " + eleve.prenom}}
    		<button ion-button clear item-end>
	    		<ion-icon name="arrow-dropright"></ion-icon>
		    </button>
	    </ion-item>
	  </ion-item-group>
	</ion-list>

	<ng-template #noeleve>
		<div>
			<p text-center>Aucun élève dans cette classe</p>
		</div>
	</ng-template>
</ion-content>
