<ion-header>

  <ion-toolbar color="primary">
      <ion-title>Profil</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopoverDeconnexion($event)">
              <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" >
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          Veuillez choisir une image
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <ion-list no-lines>
      <ion-item>
      	<ion-label fixed>Nom: </ion-label>
        <ion-input type="text" formControlName="nom"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Prénom: </ion-label>
        <ion-input type="text" formControlName="prenom"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Contact: </ion-label>
        <ion-input type="text" formControlName="contact"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Email: </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Adresse: </ion-label>
        <ion-input type="text" formControlName="adresse"></ion-input>
      </ion-item><br>
    </ion-list>
   <button ion-button (click)="done()" [disabled]="!isReadyToSave" block>
        Enregistrer
    </button><br>
  </form>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">Changement Mot de passe</ion-item-divider>
        <ion-item>
        <ion-label floating>Mot de passe actuel: </ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nouveau Mot de passe: </ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Confirmer mot de passe: </ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-item-group>
    </ion-list>

     <button ion-button (click)="changePassword()" [disabled]="!isReadyToSave" block>
        Changer Mot de Passe
    </button>
</ion-content>